/* This is done to remove the margin and padding added by most browsers */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*Where the route font size is set */
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

/* Section A - Header */
.header {
  height: 95vh;
  /* The linear-gradient - Fades the green from left to the bottom right */
  background-image: linear-gradient(to right bottom, rgba(0, 255, 255, 0.6), rgba(15, 36, 205, 0.3)), url(../img/rafting.jpg);
  background-size: cover;
  background-position: bottom;
  /*The viewport will crop the top of the image */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative; }

.logo_div {
  position: absolute;
  top: 8.5rem;
  left: 8.5rem; }

.logo {
  height: 6.5rem; }

.attention_grabber {
  position: absolute;
  top: 50%;
  left: 50%;
  /*This transforms the div to be shifed half of the length to the left and the sme for the top */
  transform: translate(-50%, -50%);
  text-align: center; }

.primary_heading {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden; }

.primary_heading_main {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  display: block;
  margin-left: 1rem;
  animation: moveInLeft 2s ease-out; }

.primary_heading_sub {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .25rem;
  animation: moveInRight 2s ease-out;
  padding-bottom: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(2.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1.5rem); }
  80% {
    transform: translateX(-2.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 9em;
  padding: 1rem 1rem;
  display: inline-block;
  border-radius: 5rem;
  font-size: 1.2rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }
