.section-about {
	background-color: $color-gray-lignt-1;
	padding: 15rem 0 5rem 0;
	margin-top: -20vh;

}


.section-features {
	padding: 5rem 0;
	background-image: linear-gradient(
		to right bottom, 
		 rgba($color-primary,0.6),
		 	rgba($color-secondary,0.3)),
		 url(../img/overview_wwrc.png);
	background-size: cover;

	
}